form{
    background-color: aliceblue;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.input{ 
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgb(24, 84, 64);
    color: white;
    font-weight: 700;
}

button:hover{
    background-color: rgb(69, 132, 111);
}